{% extends "base.html" %}

{% block title %}Assets{% endblock %}
{% block content %}

<body>
<main>
  <h1>All Assets</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Tag</th>
        <th>Name</th>
        <th>Description</th>
        <th>Purchase Date</th>
        <th>Cost</th>
        <th>Serial Number</th>
      </tr>
    </thead>
       <tbody>
      {% for asset in assets %}
      <tr>
        <td>{{ asset.asset_id }}</td>
        <td>{{ asset.asset_tag }}</td>
        <td>{{ asset.name }}</td>
        <td>{{ asset.description or "" }}</td>
        <td>{{ asset.purchase_date or "" }}</td>
        <td>{{ asset.purchase_cost or "" }}</td>
        <td>{{ asset.serial_number or "" }}</td>
        <td>
            <a href="/assets/delete/{{ asset.asset_id }}" class="btn btn-primary ms-2">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p><a href="/assets/new" class="btn btn-success">Add a new asset</a></p>
</main>
</body>

{% endblock %}