{% extends "base.html" %}

{% block title %}All Assets{% endblock}

{% block content %}
<h1>All Assets</h1>

  <table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Tag</th>
        <th>Name</th>
        <th>Description</th>
        <th>Purchase Date</th>
        <th>Cost</th>
        <th>Serial Number</th>
      </tr>
    </thead>
       <tbody>
      {% for asset in assets %}
      <tr>
        <td>{{ asset.asset_id }}</td>
        <td>{{ asset.asset_tag }}</td>
        <td>{{ asset.name }}</td>
        <td>{{ asset.description or "" }}</td>
        <td>{{ asset.purchase_date or "" }}</td>
        <td>{{ asset.purchase_cost or "" }}</td>
        <td>{{ asset.serial_number or "" }}</td>
        <td>
            <form action="/assets/delete/{{ asset.asset_id }}" method="post" style="display:inline;">
              <button class="btn btn-danger btn-sm" type="submit">Delete</button>
            </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

 <a href="/assets/new" class="btn btn-success mt-3">Add a New Asset</a>
{% endblock %}
